# Cache #
#########
coverage
node_modules
*.tsbuildinfo
.eslintcache
.next
.DS_Store

# Artifacts #
#############
/*.js
!/*.config.js
/*.d.ts
/*.epub
/*.mhtml
/*.zip
/*.wasm
/*.xpi
/out
/dist
/scripts
/target
/pkg
/favicon.ico
/.amo-upload-uuid
/web-ext-artifacts

